#Admin{
	position: absolute;
	cursor: pointer;
	top: 10px;
	padding: 100px;
}
#Opera{
	position: absolute;
	cursor: pointer;
	display: none;

}
#Execu{
	position: absolute;
	cursor: pointer;
}
#OperatSect{
	display: inline;
}
#AdminSect{
	display: inline;
}
#ExecuSect{
	display: inline;
}
.unclicked{
	color: black;
	font-family: code;
	font-weight: bold;
	font-size: 20px;
	align-items: center;
	position: absolute;
	top: 70px;
	left: 70px;
}
#tableDiv{
	left: 100px;
	position: absolute;

}
#relative{
	position: relative;
	
}
.example{
	display: none;
}